:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-cursor: 220, 90, 90;
  --cursor-outline-shade: 0.3;
  --cursor-size: 10px;
  --cursor-outline-size: 12px;
}

/* filter: drop-shadow(0 0 2em #61dafbaa); */

body {
  margin: 0 auto;
  background: #000000;
  /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
  border: none;
  height: 100%;
  background-attachment: fixed;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.logo:hover {
  filter: drop-shadow(0 0 2px #4d76ba);
  transition: all 0.5s ease-in-out;
  border-radius: 15px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  /* outline: 1px auto -webkit-focus-ring-color; */
}

a {
  text-decoration: none;
  color: white;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 50px;
}

.blurred-surface {
  backdrop-filter: blur(10px);
  /* min-height: 100vh; */
}

.pointer {
  cursor: pointer;
}

.hr-medium {
  display: inline-flex;
  width: 25.6em;
  border-bottom-color: #758398;
}

.hr-small {
  display: inline-flex;
  width: 2.5em;
  border-bottom-color: #758398;
}

/* Fade In effect */

.fade-in:hover {
  transform: scale(0.95);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.fade-in-content {
  opacity: 0;
  filter: blur(10px);
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  0% {
    opacity: 1;
    filter: blur(8px);
  }

  25% {
    opacity: 1;
    filter: blur(6px);
  }

  50% {
    opacity: 1;
    filter: blur(4px);
  }

  75% {
    opacity: 1;
    filter: blur(2px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* Abishek Text backdrop effect */
@keyframes lights {
  0% {
    color: #535353;
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: #858585;
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: #acacac;
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: #ababab;
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: #535353;
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

}

.text-effect-one {
  margin: auto;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
}

/* Shine */
@keyframes shine {
  0% {
    background-position: 0;
  }

  60% {
    background-position: 180px;
  }

  100% {
    background-position: 280px;
  }
}

@keyframes shine-rev {
  0% {
    background-position: 380px;
  }

  60% {
    background-position: 200px;
  }

  100% {
    background-position: 0px;
  }
}

.text-shine {
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  text-decoration: none;
}

.shine-animation-forward {
  animation: shine 5s infinite linear;
}

.shine-animation-backward {
  animation: shine-rev 5s infinite linear;
}

/* Round Neon */
@keyframes rotate {
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.box {
  position: relative;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, yellow),
    linear-gradient(#262626, #141414);
  animation: rotate 1.5s linear infinite;
}

.box:before,
.box:after {
  content: " ";
  position: absolute;
  inset: -0.1px;
  background: linear-gradient(#161616, #262626);
  border-radius: inherit;
}

.box:before {
  background: linear-gradient(45deg, transparent, transparent 40%, yellow);
  filter: blur(32px);
}

/* Neon */
.button,
.button i {
  position: relative;
  border-radius: 50%;

}

.button {
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  width: 25dvw;
  height: 45dvh;
  line-height: 46px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  /* background-color: #050505 !important; */
}

.button div {
  text-align: center;
  display: block;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

.button:hover div:first-child,
.button div:last-child {
  opacity: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.button:hover div:last-child {
  opacity: 1;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

.gradient-border {
  width: 465px;
  height: 465px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 50%;
  transition: 0.5s all linear;
}

.gradient-border:after {
  content: url('./assets/abi.png');
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: 50%;
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Neon Two */
.boxs {
  width: 465px;
  height: 465px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 50%;
  transition: 0.5s all linear;
}

.boxs::before {
  z-index: -1;
}

.boxs::after {
  z-index: -2;
  filter: blur(10px);
}

.boxs::before,
.boxs::after {
  content: " ";
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background: linear-gradient(0deg, #2196f3, #060c21, #F00000);
  border-radius: 50%;
}

.photo {
  border-radius: 50%;
}

/* Neon Three */
.content,
.content i {
  position: relative
}

.content {
  display: inline-block;
  cursor: pointer;
  outline: 0;
  white-space: nowrap;
  padding: 50px 50px;
  font-size: 16px;
  min-height: 74px;
  line-height: 46px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  border: none;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #000000 !important;
}

.gradient-border-one {
  background: #1D1F20;
  position: relative;
  /* border-radius: 50px; */
}

.gradient-border-one::before {
  content: '';
  position: absolute;
  top: calc(-1 * 3px);
  left: calc(-1 * 3px);
  height: calc(100% + 3px * 2);
  width: calc(100% + 3px * 2);
  background: linear-gradient(0deg, #2196f3, #060c21, #F00000);
  border-radius: 3px;
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 150% 150%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/*Big Roundness */
.roundness {
  z-index: -1;
  width: 550px;
  height: 550px;
  display: flex;
  filter: blur(8px);
  border-radius: 50%;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  transition: 0.5s all linear;
}

.roundness-image::before {
  content: " ";
  top: -600px;
  /* rotate: -60deg; */
  left: 100px;
  right: -100px;
  bottom: 600px;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(-60deg, #2196f3, #060c21, #F00000);
}

.roundness-about::before {
  content: " ";
  top: -600px;
  /* rotate: -60deg; */
  left: 100px;
  right: -100px;
  bottom: 600px;
  border-radius: 50%;
  position: absolute;
  background-color: #090947;
  background-image: linear-gradient(315deg, #090947 0%, #5a585a 74%);
}

.roundness-exp::before {
  content: " ";
  top: -600px;
  /* rotate: -60deg; */
  left: 100px;
  right: -100px;
  bottom: 600px;
  border-radius: 50%;
  position: absolute;
  background: rgb(2, 0, 36);
  background: linear-gradient(-60deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 100, 1) 53%, rgba(0, 189, 255, 1) 100%);
  /* background-color: #090947;
  background-image: linear-gradient(315deg, #090947 0%, #5a585a 74%); */
}

/* Float animation */
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}

/* backdrop running effect */
/* For full stack developer */

.shadow-body::before,
.shadow-body::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.shadow-body:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  /* height: 100%; */
}

.shadow-running {
  display: inline-block;
  color: white;
  font-family: 'Righteous', serif;
  font-size: 12em;
  text-shadow: .03em .03em 0 hsla(230, 40%, 50%, 1);
}

.shadow-running:after {
  content: " ";
  position: absolute;
  top: .06em;
  left: .06em;
  z-index: -1;
  background-image:
    linear-gradient(45deg,
      transparent 45%,
      hsla(48, 20%, 90%, 1) 45%,
      hsla(48, 20%, 90%, 1) 55%,
      transparent 0);
  background-size: .05em .05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim {
  0% {
    background-position: 0 0
  }

  0% {
    background-position: 100% -100%
  }
}

/* Wave Letter effect */
.word-content {
  position: relative;
}

.word-content .word {
  color: #fff;
  font-size: 4em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.word-content .word:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
}

.word-content .word:nth-child(2) {
  color: #000000;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.content-paragraph {
  font-family: "Montserrat Medium";
  text-align: left;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.words {
  opacity: 0;
  filter: blur(4px);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.words:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(19) {
  animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(20) {
  animation: fade-in 0.8s 2.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(21) {
  animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(22) {
  animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(23) {
  animation: fade-in 0.8s 2.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(24) {
  animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(25) {
  animation: fade-in 0.8s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(26) {
  animation: fade-in 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(27) {
  animation: fade-in 0.8s 2.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(28) {
  animation: fade-in 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(28) {
  animation: fade-in 0.8s 2.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(29) {
  animation: fade-in 0.8s 3.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(30) {
  animation: fade-in 0.8s 3.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.words:nth-child(31) {
  animation: fade-in 0.8s 3.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

/* Bounce In */
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: initial;
}

@-webkit-keyframes bounceInDown {

  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {

  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

/* Cards */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.container .boxes {
  cursor: pointer;
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.container .boxes::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 50px;
  /* Actual */
  width: 70%;

  /*Changed  */
  /* width: 0%; */

  height: 100%;
  text-decoration: none;
  /* On Hover White Background */
  background: #fff;
  /* opacity: 0.010; */
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.container .boxes::after {
  content: '';
  position: absolute;
  top: 0;
  /* left: 50px; */
  width: 70%;
  height: 100%;
  /* background: #fff; */
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.container .boxes:hover:before,
.container .boxes:hover:after {
  transform: skewX(0deg);
  /* opacity: 0.010; */
  left: -4px;
  width: calc(100% - 40px);
}

.container .boxes:nth-child(1):before,
.container .boxes:nth-child(1):after {
  background: linear-gradient(315deg, #ffbc00, #ff0058)
}

.container .boxes:nth-child(2):before,
.container .boxes:nth-child(2):after {
  background: linear-gradient(315deg, #03a9f4, #ff0058)
}

.container .boxes:nth-child(3):before,
.container .boxes:nth-child(3):after {
  background: linear-gradient(315deg, #4dff03, #00d0ff)
}

.container .boxes:nth-child(4):before,
.container .boxes:nth-child(4):after {
  background: linear-gradient(315deg, #ffbc00, #ff0058)
}

.container .boxes:nth-child(5):before,
.container .boxes:nth-child(5):after {
  background: linear-gradient(315deg, #03a9f4, #ff0058)
}

.container .boxes:nth-child(6):before,
.container .boxes:nth-child(6):after {
  background: linear-gradient(315deg, #4dff03, #00d0ff)
}

.container .boxes span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.container .boxes span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;
  animation: card-animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08)
}

.container .boxes:hover span::before {
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container .boxes span::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: card-animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  animation-delay: -1s;
}

.container .boxes:hover span:after {
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes card-animate {

  0%,
  100% {
    transform: translateY(10px);
  }

  50% {
    transform: translate(-10px);
  }
}

.container .boxes .card-content {
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  transition: all 0.5s ease-in-out;
  color: #fff;
}

.container .boxes:hover .card-content {
  left: -25px;
  padding: 60px 40px;
}

.container .boxes .card-content h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.container .boxes .card-content p {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container .boxes .card-content a {
  display: inline-block;
  font-size: 1.1em;
  color: #fff;
  background: #000000;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.container .boxes .card-content a:hover {
  background: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

/* NAV MENU */
.navigation {
  position: relative;
  width: 70px;
  /* height: 365px; */
  background: #383838;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.navigation ul {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: space-between;
}

.navigation ul li {
  list-style: none;
  position: relative;
  width: 70px;
  /* ul: width 350 / 5 = 70 */
  height: 60px;
  z-index: 2;
}

.navigation ul li {
  text-decoration: none;
  color: #555;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navigation ul li .icon {
  position: relative;
  background: #383838;
  display: block;
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 65px;
  border-radius: 65px;
  color: #949494;
  font-size: 1.5em;
  transition: 0.5s;
  transition-delay: 0s;
}

.navigation ul li.active .icon {
  background: var(--clr);
  color: #000000;
  transform: translatex(27px);
  transition-delay: 0.25s;
}

/* .navigation ul li a .icon:hover:not(.active) {
  background: rgb(59, 2, 2);
  z-index: 1;
} */

.navigation ul li .icon:before {
  content: '';
  position: absolute;
  top: 0px;
  left: -5px;
  width: 100%;
  height: 100%;
  background: var(--clr);
  border-radius: 50%;
  filter: blur(5px);
  opacity: 0;
  transition: .2s all ease-in-out;
  /* transition-delay: 0.15s; */
}

.navigation ul li.active .icon:before {
  opacity: 0.5;
  transition-delay: 0.25s;
}

.indicator {
  position: absolute;
  left: 32px;
  top: 9px;
  width: 72px;
  height: 70px;
  background: #383838;
  border-radius: 50%;
  z-index: 1;
  transition: 0.5s;
}

.indicator::before {
  content: '';
  position: absolute;
  top: -27px;
  left: 35px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: -22px 19px #383838;
}


.indicator::after {
  content: '';
  position: absolute;
  top: 66px;
  left: 34px;
  right: -53.5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: -10px -20px #383838;
}

.navigation ul li:nth-child(1).active~.indicator {
  transform: translatey(calc(0));
}

.navigation ul li:nth-child(2).active~.indicator {
  transform: translatey(calc(55px * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
  transform: translatey(calc(55px * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
  transform: translatey(calc(55px * 3));
}

.navigation ul li:nth-child(5).active~.indicator {
  transform: translatey(calc(55px * 4));
}

/* Footer Wave */
/* waves */
.ocean {
  height: 350px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  z-index: -1;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  position: absolute;
  width: 200%;
  height: 100%;
  animation: wave 10s -3s linear infinite;
  animation-iteration-count: infinite;
  /* transform: translate3d(0, 0, 0); */
  /* opacity: 0.8; */
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 18s linear reverse infinite;
  /* opacity: 0.5; */
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 20s -1s linear infinite;
  /* opacity: 0.5; */
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(-40%);
  }
}

/* Footer content */
.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.flex {
  display: flex;
  gap: 0.5em;
}

.card {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.card:hover {
  cursor: pointer;
  scale: 1.1;
}

/* ------------ */

.card1 {
  border-radius: 90px 5px 5px 5px !important;
}

.card1:hover {
  background: linear-gradient(230deg, #e95950, #bc2a8d, #fccc63, #cd486b);
}

.card1:hover .instagram {
  fill: white;
}

.mt-15 {
  margin-top: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

/* ------------ */

.card2 {
  border-radius: 5px 90px 5px 5px !important;
}

.card2:hover {
  background: linear-gradient(115deg, #075e54, #128c7e, #25d366, #dcf8c6);
}

.card2:hover .whatsapp {
  fill: white;
}

.whatsapp {
  margin-top: 1.5em;
  margin-left: -.9em;
  fill: #075e54;
}

/* ------------ */

.card3 {
  border-radius: 5px 5px 5px 90px !important;
}

.card3:hover {
  background: rgb(0, 0, 0);
  background: linear-gradient(315deg, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

.card3:hover .github {
  fill: white;
}

.github {
  margin-top: -.6em;
  margin-left: 1.2em;
}

/* ------------ */

.card4 {
  border-radius: 5px 5px 90px 5px !important;
}

.card4:hover {
  background: rgb(0, 119, 181);
  background: linear-gradient(45deg, #0077b5 50%, #ffffff 100%);
}

.card4:hover .linkedIn {
  fill: white;
}

.linkedIn {
  margin-top: -.9em;
  margin-left: -1.2em;
  fill: #0077b5;
}

/* Copy right */
.copy-right {
  display: flex;
  flex-direction: column;
  gap: 5px;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 10px;
  background: url("./assets/bg_element.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Lucida Console", "Courier New", monospace;
  color: #fff;
}

.follow {
  padding: 0 0 20px 42px;
  color: antiquewhite;
  font-family: cursive;
}

.follow::before {
  content: '';
  position: absolute;
  left: 44px;
  bottom: 207px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 63px;
}